<mat-card>
  <mat-card-title>Novo Produto</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Nome" disabled="{{action}}" [(ngModel)]="product.name" name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Preço (R$)" disabled="{{action}}" [(ngModel)]="product.price" name="price">
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="funcSubmit()" color="{{buttonColor}}">
    {{buttonSubmit}}
  </button>
  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>
